body {
	font-size: 1rem;
	background-color: var(--bg-color);
}

body>* {
	color: var(--color);
	font-family: Helvetica, sans-serif;
}

a,
a:visited,
a:hover {
	color: var(--link-color);
	text-decoration: none;
	word-break: break-all;
}

button {
	width: 100%;
	align-items: center;
	font-size: 0.8rem;
}

dialog {
	top: -15%;
	width: 20rem;
	background-color: var(--dialog-bg-color);
	color: var(--color);
}

dialog::backdrop {
	background: rgba(0, 0, 0, 0.25);
}

div {
	vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
}

input {
	flex: 1;
	font-size: 0.9rem;
}

input[type="text"]:focus {
	outline: none;
}

select {
	font-size: 0.9rem;
}

select:focus {
	outline: none;
}

textarea {
	display: flex;
	flex-direction: row;
	flex: 1;
	font-size: 0.9rem;
}

#main-content {
	margin: 8px;
}

.link {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.right {
	float: right;
}

.ml-auto {
	margin-left: auto;
}

.mr-auto {
	margin-right: auto;
}

.main {
	margin: 0 auto;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-bottom: 1rem;
	max-width: 1200px;
}

.text-center {
	text-align: center;
}

.right {
	float: right;
}

.row {
	display: flex;
	flex-direction: row;
}

.col {
	display: flex;
	flex-direction: column;
	flex: 1;
	width: 100%;
}

.text-right {
	text-align: right;
}

.item-desc {
	text-overflow: ellipsis;
	overflow: hidden;
}

.content > * + * {
	margin-top: 0.5rem;
}

.collection > * + * {
	margin-top: 0.25rem;
}

.item > * + * {
	margin-top: 0.25rem;
}

/* .row > * + * { */
/* 	margin-left: 0.25rem; */
/* } */

.spaced-left > * + * {
	margin-left: 0.25rem;
}

.spaced-top > * + * {
	margin-top: 0.25rem;
}

.col + .col {
	margin-left: 5px;
}

.mv-auto {
	margin-top: auto;
	margin-bottom: auto;
}

.timestamp {
	font-size: 0.8rem;
}

.w-100 {
	width: 100%;
}

@media (min-width: 640px) {
	button {
		width: auto;
	}

	.col-xs {
		width: calc(100% / 12);
		max-width: calc(100% / 12);
	}
}
